@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
  background-image: url('/Images/background.png');
}
.empower {
  background-image: url('/Images/Frame 8.png');
  background-position: top center;
  background-size: auto 120%;
  background-repeat: no-repeat;
}
.coms {
  background-image: url('/Images/b.png');
  background-position: top center;
  background-size: auto 90%;
  background-repeat: no-repeat;
}
.comm {
  background-image: url('/Images/Frame 15.png');
  background-position: top center;
  background-size: auto 130%;
  background-repeat: no-repeat; 
}
.com1 {
  position: relative;
  background: #000;
}
.com1::before {
  background-image: url('/Images/coms.jpeg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.7;
}
.com1 h2, p {
  isolation: isolate;
}
.com2 {
  background-image: url('/Images/com.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; 
}
.cross {
  position: relative;
  background-color: #000;
}
.cross::before {
  background-image: url('/Images/cross.jpg');
  background-position: top center;
  background-size: auto 180%;
  background-repeat: no-repeat; 
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.5;
}
.cross h2, p, button {
  isolation: isolate;
}
.charity {
  position: relative;
  background-color: rgb(70, 68, 68);
}
.charity::before {
  background-image: url('/Images/charity.jpg');
  background-position: center;
  background-size: auto 150%;
  background-repeat: no-repeat; 
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.5;
}
.charity h2, p {
  isolation: isolate;
}
.play {
  position: relative;
  background-color: #000;
}
.play::before {
  background-image: url('/Images/98b0ccbc7de2c9e37b1d1a5764aacfc4.jpg');
  background-position: top center;
  background-size: auto 128%;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.5;
}
.play h2, button {
  isolation: isolate;
}
.radio::placeholder {
  color: #000;
  font-weight: bold;
}